{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5 col-12 col-md-10">
  <div class="border rounded bg-white text-dark" style="padding: 20px">
    <h2>Привет, это сделал я.</h2>
    <br>
    <br>
    <p>
      <em>
      "His face was ageless, neither old nor young, though in it was written the memory of many things both glad and sorrowful.
      His hair was dark as the shadows of twilight, and upon it was set a circlet of silver; his eyes were grey as a clear evening, and in them was a light like the light of stars.” 
      </em>
    </p>
  </div>
</div>    
{% endblock %} 