{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Пост {{post.text|make_list|slice:':30'|join:'' }}{% endblock %}
{% block content %}
{% load user_filters %}
  <div class="container py-5 col-12 col-md-10">
    <article class="row text-dark" style="padding: 20px">
      <aside class="col-12 col-md-3">
        <article class="border rounded bg-white text-dark" style="padding: 15px; margin-left: -10px">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Дата публикации: <br> 
              {{ post.created|date:"d E Y г.  G:i" }} 
            </li>
            {% if post.group %}   
            <li class="list-group-item">
              Группа: {{ post.group }}
              <br>
              <em>
                <a href="{% url 'posts:group_list' post.group.slug %}">
                  Все посты группы
                </a>
              </em>
            </li>
            {% endif %}
            <li class="list-group-item">
              Автор: {% if post.author.get_full_name %}{{ post.author.get_full_name }}{% else %}{{ post.author }}{% endif %}
              <br>
              <em>
                <a href="{% url 'posts:profile' post.author %}">
                  Все посты автора
                </a>
              </em>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора:  <span >{{ post.author.posts.count }}</span>
            </li>
            {% if post.author == request.user %}   
              <li class="list-group-item">
                <em>
                  <a href="{% url 'posts:post_edit' post.pk %}">
                    Редактировать пост
                  </a>
                </em>
              </li>
              <li class="list-group-item">
                <em>
                  <a href="{% url 'posts:post_delete' post.pk %}">
                    Удалить пост
                  </a>
                </em>
              </li>
            {% endif %}
          </ul>
        </article>
      </aside>
      <article class="col-12 col-md-9 border rounded bg-white text-dark">
        <br>
        {% if not user.is_authenticated %}
        <a href="{% url 'users:login' %}">
        <button style="float:right;" class="btn btn-light like-button{{post.id}}">🤍</button>
      </a>
      {% else %}
      <form action="{% url 'posts:like_unlike_post' %}" method="POST" class='like-form' id='{{post.id}}'>
        {% csrf_token %}
        <input type="hidden" name="post_id" value={{post.id}}>
        <button style="float:right;" type="submit" class="btn btn-light like-button{{post.id}}">
          {% if request.user not in post.liked.all %}
          🤍
          {% else %}
          ❤️
          {% endif %}
        </button>
      </form>
      {% endif %}
      <h5>{{ post.title }} </h5>
      <br>
      <p class="like-count{{post.id}} text-muted" style="float:right; margin-right: 20px;"> {{post.num_likes}} </p>
        {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
          <img class="card-img my-2 rounded" src="{{ im.url }}">
        {% endthumbnail %}
        <p class="text-break" style='white-space: pre-wrap'>{{ post.text }}</p>
        {% if user.is_authenticated %}
          <div class="card my-4 mb-2">
            <h5 class="card-header">Добавить комментарий:</h5>
            <div class="card-body">
              <form method="post" action="{% url 'posts:add_comment' post.id %}">
                {% csrf_token %}      
                <div class="form-group mb-2">
                  {{ form.text|addclass:'form-control' }}
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
              </form>
            </div>
          </div>
        {% endif %}
        {% for comment in comments %}
          <div class="media mb-4">
            <div class="media-body">
              <h5 class="mt-0">
                <a class="text-decoration-none" href="{% url 'posts:profile' comment.author.username %}">
                  {% if comment.author.get_full_name %}{{ comment.author.get_full_name }}{% else %}{{ comment.author }}{% endif %}
                </a>
              </h5>
              <p class="text-muted">
                <em>
                  {{ comment.created|date:"d E Y h:i" }}
                </em>
              </p>
              <p class="text-break" style='white-space: pre-wrap'>{{ comment.text }}</p>
                {% if user.is_authenticated and user == comment.author %}
                  <p class="text-end">
                    <a href="{% url 'posts:delete_comment' post.pk comment.pk %}" class="btn btn-light">Удалить</a>
                  </p>
                {% endif %}
            </div>
          </div>
        {% endfor %} 
      </article>
    </article>
  </div> 
{% endblock %}  