{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}{{ author.get_full_name }}{% endblock %}
{% block content %}
<div class="container py-5 col-12 col-md-10">
  <h2>{% if author.get_full_name %}{{ author.get_full_name }}{% else %}{{ author }}{% endif %} (всего постов: {{ author.posts.count }})</h2>  
  {% if user != author and following  %}
  <p class="text-start">
    <a
    class="btn btn-lg btn-secondary"
    href="{% url 'posts:profile_unfollow' author.username %}" role="button"
    >Отписаться</a>
  </p>
  {% elif user != author %}
  <p class="text-start">
    <a
    class="btn btn-lg btn-primary mb-2"
    href="{% url 'posts:profile_follow' author.username %}" role="button"
    >Подписаться</a>
  </p>
  {% endif %}
  {% include 'posts/includes/switcher.html' %}  
      {% for post in page_obj %}
        {% with show_group=True %}
          {% include 'posts/includes/post_list.html' %}
        {% endwith %}
      {% endfor %}      
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}